.App {
  /* text-align: center; */
  background-color: white;
}
.green{
  color: rgb(47, 255, 82);
  font-weight: bold;
}
.Cv{
  font-weight: bold;
  transition: all 0.5s;
  box-shadow: 2px 2px 2px 2px rgba(88, 85, 85, 0.363);
}
.Cv:hover{
  box-shadow: 16px 16px 15px 10px rgba(48, 46, 46, 0.363);
}

/* .mxx{
  max-width: 200px;
} */
.con{
  display:flex;
  /* align-items: center; */
  /* justify-content:center; */
}
.border{
  border: 2px solid black;
  border-radius: 7px;
}
.bold{
  font-weight: bolder;
  /* font-size: la; */
}